<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Compare authors
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="input-group">
                    <input type="text" class="form-control" name='input-search' id='input-search' placeholder="" aria-label="" aria-describedby="basic-addon1" value='No2ot2YAAAAJ'>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button" id="btn-search">Suchen</button>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button">Suchen</button>
                    </div>
                </div>
            </div>
        </div>    
    </div>
  </body>
</html>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        
        function requestData(author_id) {
            return $.ajax({
                type: 'GET',
                url: '/author/'.concat(author_id),
                statusCode: {
                    910: (response) => {
                            setTimeout(requestData, 1000);
                        },
                    911: (response) => {
                            setTimeout(requestData, 1000);
                        },
                    200: processData,
                },
            });
        }

        function processData(response) {
            console.info(response);
        }      

        $(() => {
            $('button#btn-search').bind('click', ()  => {
                requestData($('#input-search').val());
            });
        });
</script>
